/* BASIC RESET */
body {
    margin: 0;
    font-family: Arial, sans-serif;
 font-family: 'Poppins', sans-serif;}

/* NAVBAR */
header {
    background: maroon;
    color: white;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

nav a.active {
    color: #ffdd57;
}

/* CONTACT LAYOUT */
.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    gap: 40px;
}

.contact-info, .contact-form {
    background: white;
    padding: 30px;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.contact-info h2, .contact-form h2 {
    margin-top: 0;
    color:maroon;
}

.info-box {
    margin-top: 20px;
}

.contact-form form input, 
.contact-form form textarea {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 16px;
}

.contact-form button {
    width: 100%;
    padding: 14px;
    background: maroon;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background:  #ffdd57;
}

/* GOOGLE MAP */
.map-section {
    padding: 50px 60px;
    text-align: center;
}

.map-section iframe {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 10px;
}

footer {
    background: maroon;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}
